<ion-header>
  <ion-navbar>
    <ion-title>
      {{info.title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <img class="activityPhoto" src="{{info.img}}">

  <ion-list no-lines>
    <button class="join" ion-button block (click)="joinActivity({id: info.id})"> Gå med </button>

    <ion-list-header>Beskrivning</ion-list-header>
    <p>{{info.description}}</p>
    <ion-item>
      <ion-icon style="color:RED;" name="pin" item-left></ion-icon>
        {{info.location}}
    </ion-item>
    <ion-item>
      <ion-icon name="clock" item-left></ion-icon>
      <!--https://angular.io/docs/ts/latest/api/common/index/DatePipe-pipe.html-->
      {{ info.niceTime}} - {{info.niceDate}}
    </ion-item>
    <ion-item>
      <ion-icon name="people" item-left></ion-icon>
        {{info.date}}
      <ion-note item-right>Platser kvar {{info.date | date:"MM/dd/yy"}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name="contacts" item-left></ion-icon>
        {{info.boys}} killar, {{info.girls}} tjejer
    </ion-item>
    <ion-item>
      <ion-icon name="wine" item-left></ion-icon>
        <div *ngIf="info.alcohol">Ja</div>
        <div *ngIf!="info.alcohol">Nej</div>
    </ion-item>

    <ion-list-header>Kommentarer</ion-list-header>
  </ion-list>
</ion-content>
