<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Flöde" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Lägg till aktivitet" tabIcon="add"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Profil" tabIcon="person"></ion-tab>
</ion-tabs>
