<ion-header>
  <ion-navbar>
    <ion-title>
      Lägg till aktivitet
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form (ngSubmit)="logForm()">
    <ion-list>
      <ion-item>
        <ion-label floating>Titel</ion-label>
        <ion-input type="text" name="title" [(ngModel)]="activity.title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Beskrvning</ion-label>
        <ion-textarea [(ngModel)]="activity.description" name="description"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label floating>Plats</ion-label>
        <ion-input type="text" name="place" [(ngModel)]="activity.location"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Datum</ion-label>
        <ion-datetime name="date" [(ngModel)]="activity.date"></ion-datetime>
        <!--<ion-datetime displayFormat="D-MMM" name="date" [(ngModel)]="date"></ion-datetime>-->
      </ion-item>
      <ion-item>
        <ion-label>Tid</ion-label>
        <ion-datetime displayFormat="HH:mm" name="time" [(ngModel)]="activity.time"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Kategori</ion-label>
        <ion-input name="category" [(ngModel)]="activity.category"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Minst antal deltagare</ion-label>
        <ion-input type="number" name="min_participants" [(ngModel)]="activity.min_participants"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Maximalt antal deltagare</ion-label>
        <ion-input type="number" name="max_participants" [(ngModel)]="activity.max_participants"></ion-input>
      </ion-item>
      <ion-row>
        <ion-item>
          <ion-label>Killar</ion-label>
          <ion-input type="number" name="boys" [(ngModel)]="activity.boys"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Tjejer</ion-label>
          <ion-input type="number" name="girls" [(ngModel)]="activity.girls"></ion-input>
        </ion-item>
      </ion-row>
      <ion-item>
        <ion-label>Maximalt antal deltagare</ion-label>
        <!--<ion-input type="number" name="max_participants" [(ngModel)]="activity.max_participants"></ion-input>-->
      </ion-item>
      <ion-item>
        <ion-label>Alkohol</ion-label>
        <ion-checkbox name="alcohol" [(ngModel)]="activity.alcohol"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Bild</ion-label>
        <ion-input value="jpg" name="img" [(ngModel)]="activity.img"></ion-input>
      </ion-item>
      <button ion-button type="submit" block>Lägg till aktivitet</button>
    </ion-list>
  </form>
</ion-content>
