page-profile {
  .profile-picture{
    border-style: solid;
  }
  .stars{
    padding-top: 20px;
    font-size: 30px;
  }
  .star{
    color: WHITE;
    padding-left: 5px;
  }
  .star-highlighted{
    color: YELLOW;
    padding-left: 5px;
  }
}
