<ion-header>
  <ion-navbar>
    <ion-title>
      Profil
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col width-50>
      <img class="profile-picture" src="../../assets/img/profile_picture.jpg">
    </ion-col>
    <ion-col width-50>
      <ion-row>
        Tobias Krispinsson
      </ion-row>
      <ion-row class="stars">
        <ion-icon class="star-highlighted" name="star"></ion-icon>
        <ion-icon class="star-highlighted" name="star"></ion-icon>
        <ion-icon class="star-highlighted" name="star"></ion-icon>
        <ion-icon class="star-highlighted" name="star"></ion-icon>
        <ion-icon class="star"name="star"></ion-icon>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col width-100>
      <strong>Kommande Aktiviteter</strong>
      <ion-list>
        <ion-item *ngFor="let activity of upcomingActivities">
          <ion-thumbnail item-left>
            <img src="{{activity.img}}">
          </ion-thumbnail>
          <h2>{{activity.title}}</h2>
          <p>{{activity.description}}</p>
          <button ion-button clear item-right>Info</button>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col width-100>
      <strong>Senaste aktiviteter</strong>
    </ion-col>
  </ion-row>
</ion-content>
