page-feed {
  ul{
    padding-left: 0px;
  }
  .activity-card{
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
  }

  .description{
    padding-left: 100px;
  }
  .join-button{
    margin: auto;
  }
  .more-info{
    margin: auto;
  }
  .location{
    padding-top: 10px;
  }
}
