<ion-header>
  <ion-navbar>
    <ion-title>Flöde</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ul>
    <li *ngFor="let activity of activities; let i = index" [attr.data-index]="i" >
      <ion-card class="activity-card">

        <img src="{{activity.img}}">

        <ion-card-content>

          <ion-card-title><strong> {{activity.title}}</strong></ion-card-title>
          <p>
            {{activity.description}}
          </p>
          <p class="location">
            <strong>Plats</strong>: {{activity.location}}
          </p>
        </ion-card-content>

        <ion-row no-padding>

          <button class="join-button" ion-button clear large color="danger">
            <ion-icon style="padding: 5px" name='person-add'></ion-icon>
            Gå med
          </button>

          <button class="more-info" ion-button clear large color="danger" icon-right icon-right (click)="openActivity(activity)">
              <ion-icon style="padding: 5px" name='information-circle'></ion-icon>
              Mer Info
            </button>
        </ion-row>


      </ion-card>
    </li>
  </ul>
</ion-content>



